* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    cursor: pointer;
}

main {
    width: 100%;
    min-height: 70vh;
    padding: 1rem;
    box-sizing: border-box;
}

main .main_header {
    width: 100%;
    margin-bottom: 2rem;
}

main .main_header > a {
    font-size: 25pt;
    color: #234788;
}

main .main_body {
    width: 100%;
}

main .main_body > div {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .main_body > div .dele {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60%;
    margin-top: 2rem;
    background-color: #9BC1DF;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

main .main_body > div a {
    width: 100%;
}

main .main_body > div a div {
    height: 60px;
    width: 60px;
    background-color: #234788;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

main .main_body > div a div:hover {
    background-color: rgba(0, 0, 255, 0.445);
}

main .main_body > div a div i {
    font-size: 18pt;
}

main .main_body > div a p {
    flex-grow: 1;
    font-size: 14pt;
    margin: 0;
    text-align: center;
}

main .main_body .add {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

main .main_body .addd,
main .main_body .adddd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    background-color: #234788;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

main .main_body .add > div a i {
    color: #fff;
    font-size: 18pt;
}

main .main_body > div:nth-child(2) img {
    height: 150px;
    width: 100%;
    max-width: 275px;
}

/* Responsive design */
@media screen and (min-width: 300px) {
    main .main_body > div .dele {
        width: 80%;
    }

    main .main_body > div a div {
        height: 100%;
        width: 25%;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 50px;
        width: 50px;
    }
}

@media screen and (min-width: 400px) {
    main .main_header > a {
        font-size: 28pt;
    }

    main .main_body > div .dele {
        height: 70px;
    }


    main .main_body > div a div i {
        font-size: 25pt;
    }

    main .main_body > div a p {
        font-size: 18pt;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 65px;
        width: 65px;
    }

    main .main_body .add > div a i {
        font-size: 24pt;
    }

    main .main_body > div:nth-child(2) img {
        height: 200px;
        max-width: 350px;
    }
}

@media screen and (min-width: 500px) {
    main .main_header > a {
        font-size: 30pt;
    }

    main .main_body > div .dele {
        height: 80px;
    }

    main .main_body > div a div {
        height: 60px;
        width: 60px;
    }

    main .main_body > div a div i {
        font-size: 22pt;
    }

    main .main_body > div a p {
        font-size: 18pt;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 60px;
        width: 60px;
    }

    main .main_body .add > div a i {
        font-size: 28pt;
    }

    main .main_body > div:nth-child(2) img {
        height: 170px;
        max-width: 295px;
    }
}

@media screen and (min-width: 600px) {
    main .main_body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main .main_body > div {
        width: 45%;
        margin-top: 1rem;
    }

    main .main_body > div .dele {
        width: 80%;
    }

    main .main_body > div a div {
        height: 70px;
        width: 70px;
    }

    main .main_body > div a div i {
        font-size: 24pt;
    }

    main .main_body > div a p {
        font-size: 20pt;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 70px;
        width: 70px;
    }

    main .main_body .add > div a i {
        font-size: 30pt;
    }

    main .main_body > div:nth-child(2) img {
        height: 180px;
        max-width: 305px;
    }
}

@media screen and (min-width: 900px) {
    main .main_header > a {
        font-size: 35pt;
        margin-left: 10%;
    }

    main .main_body > div .dele {
        width: 100%;
    }

    main .main_body > div a div {
        height: 80px;
        width: 80px;
    }

    main .main_body > div a div i {
        font-size: 26pt;
    }

    main .main_body > div a p {
        font-size: 28pt;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 80px;
        width: 80px;
    }

    main .main_body .add > div a i {
        font-size: 25pt;
    }

    main .main_body > div:nth-child(2) img {
        height: 240px;
        max-width: 404px;
        margin-top: 4rem;
    }
}

@media screen and (min-width: 1920px) {
    main .main_header > a {
        font-size: 35pt;
    }

    main .main_body > div .dele {
        width: 40%;
    }

    main .main_body > div a p {
        font-size: 24pt;
    }

    main .main_body > div a div {
        height: 90px;
        width: 90px;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 90px;
        width: 90px;
    }

    main .main_body > div:nth-child(2) img {
        height: 240px;
        max-width: 365px;
    }
}

@media screen and (min-width: 3840px) {
    main .main_header > a {
        font-size: 45pt;
    }

    main .main_body > div .dele {
        width: 30%;
    }

    main .main_body > div a p {
        font-size: 28pt;
    }

    main .main_body > div a div {
        height: 100px;
        width: 100px;
    }

    main .main_body .addd,
    main .main_body .adddd {
        height: 100px;
        width: 100px;
    }

    main .main_body > div:nth-child(2) img {
        height: 280px;
        max-width: 405px;
    }
}
