* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

}
a {
    color: black;
    text-decoration: none;
    margin-left: 3px;
}
a:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}


main {
    height: 100%;
    width: 100%;
}
    main .main_header{
        display: flex;
        height: 12%;
        width: 90%;
    }
        main .main_header > a {
            margin-top: 5%;
            background-color: #234788;
            height: 40px;
            width: 14%;
            margin-left: 10%;
            border-radius: 100%;
        }
            main .main_header > a i {
                margin-top: 20%;
                margin-left: 28%;
                font-size: 16pt;
                color: #ffff;    
            }
        main .main_header > p {
            font-size: 14pt;
            margin-top: 8%;
            margin-left: 12px;
        }

main .main_body {
    height: 70%;
    width: 100%;
}
    main .main_body > div:nth-child(1) {
        height: 40%;
        width: 100%;
    }

        main .main_body > div:nth-child(1) a {
            display: flex;
            margin-top: 8%;
            height: 50px;
            width: 60%;
            margin-left: 15%;
            background-color: #9BC1DF;
            cursor: pointer;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }

        main .main_body > div a:hover {
            background-color: rgba(0, 0, 255, 0.103);
            scale: 1;
        }

        main .main_body > div a div {
            height: 100%;
            width: 30%;
            padding-top: 8%;
            padding-left: 6%;
            background-color: #234788;
            cursor: pointer;
            color: #ffff;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }

        main .main_body > div a div:hover {
            background-color: rgba(0, 0, 255, 0.445);
        }

            main .main_body> div a div i {
                font-size: 16pt;

            }

        main .main_body > div a p {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 12pt;
            padding-top: 5%;
        }

    main .main_body > div:nth-child(2){
        height: 50%;
        width: 100%;
    }
        main .main_body > div:nth-child(2) img{
            height: 150px;
            width: 275px;
            margin-left: 5%;
            margin-top: 5%;
        }

/* Estilos para la tarjeta de perfil (modal) */
.profile-card {
    position: absolute;
    top: .01%;
    width: 100vw;
    height: 140vh;
    background: rgba(0, 0, 0, 0.148);
}
.profile-card > div {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 400px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.profile-card .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.profile-card .profile-header i {
    font-size: 14pt;
    color: #234788;  
}
.profile-card .profile-content {
    padding-top: 5px;
}
.profile-card .profile-content form {
    display: grid;
}
.profile-card .profile-content form label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 8pt;
}
.profile-card .profile-content form input {
    padding: 5px;
    font-size: 8pt;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.profile-card .profile-content form button {
    margin-top: 10px;
    height: 80%;
    background-color: #234788;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.hidden {
    display: none;
}


@media screen and (min-width: 376px) {

    main .main_header > a {
        margin-top: 5%;
        height: 50px;
    }

    main .main_header > a i {
        margin-top: 20%;
        margin-left: 30%;
        font-size: 18pt;
        color: #ffff;    
    }

    main .main_body > div a div {
        padding-top: 5%;
        padding-left: 8%;
    }

        main .main_body> div a div i {
            font-size: 18pt;

        }

    main .main_body > div:nth-child(2) img{
        height: 200px;
        width: 350px;
        margin-left: 5%;
    }

    .profile-card > div {
        top: 50%;
        left: 50%;  
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
    }
}

@media screen and (min-width: 426px){

        main .main_header > a {
            margin-top: 6%;
            width: 15%;
            height: 60px;
        }
            main .main_header > a i {
                margin-top: 25%;
                margin-left: 35%;
                font-size: 20pt;   
            }
        main .main_header > p {
            font-size: 20pt;
        }

        main .main_body > div:nth-child(1) a {
            margin-top: 10%;
            height: 60px;
            width: 70%;
            margin-left: 15%;
        }

    main .main_body > div a div {
        width: 25%;
    }
     
        main .main_body> div a div i {
            font-size: 20pt;
        }

    main .main_body > div a p{
        font-size: 18pt;
        padding-top: 3%;
    }

    main .main_body > div:nth-child(2) img{
        height: 250px;
        width: 420px;
    }

    .profile-card {
        width: 100vw;
        height: 190vh;
    }
    .profile-card > div {
        width: 400px;
        height: 500px;
    }   
    .profile-card .profile-header i {
        font-size: 18pt;
    }
    .profile-card .profile-header p{
        font-size: 18pt;
    }
    .profile-card .profile-content form label {
        font-size: 12pt;
    }
    .profile-card .profile-content form input {
        font-size: 12pt;
    }

    .profile-card .profile-content form button {
        margin-top: 5%;
        font-size: 14pt;
    }

}

@media screen and (min-width: 560px) {

  main .main_header > a {
        margin-top: 7%;
        width: 10%;
    }
    main .main_body > div:nth-child(1) a {
        width: 350px;
        margin-left: 25%;
        margin-top: 8%;
    }
    main .main_body > div:nth-child(2) img {
        height: 280px;
        width: 480px;
        margin-left: 15%;
    }

    .profile-card > div {
        width: 600px;
        height: 540px;
    }   
    .profile-card .profile-header i {
        font-size: 18pt;
    }
    .profile-card .profile-header p{
        font-size: 18pt;
    }
    .profile-card .profile-content form label {
        font-size: 14pt;
    }
    .profile-card .profile-content form input {
        font-size: 12pt;
    }
    .profile-card .profile-content form button {
        margin-top: 5%;
        font-size: 14pt;
    }

}

@media screen and (min-width: 700px) {

    main .main_header{
        margin-top: 5%;
    }
    main .main_header > a {
        margin-top: 0%;
        width: 8%;
    }
    main .main_header > a i {
        font-size: 22pt;
    }
    main .main_header > p {
        margin-top: 0%;
    }
    main .main_body {
        display: flex;
    }
    main .main_body > div:nth-child(1) {
        width: 50%;
    }
    main .main_body > div:nth-child(1) a {
        margin-left: 10%;
        margin-top: 10%;
        width: 300px;
    }
    main .main_body > div a div {
        padding-left: 6%;
    }
    main .main_body > div:nth-child(2) img {
        height: 203px;
        width: 380px;
        margin-left: 8%;
        margin-top: 0%;
    }

    .profile-card > div {
        top: 35%;
    }  
}

@media screen and (min-width: 765px){
    main .main_body > div:nth-child(2) img {
        height: 230px;
        width: 420px;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1024px) {
    main .main_header > a {
        width: 9%;
        height: 80px;
    }
    main .main_header > a i {
        margin-top: 20%;
        font-size: 28pt;
    }
    main .main_header > p {
        margin-top: 1%;
        font-size: 28pt;
    }
    main .main_body > div:nth-child(1) {
        width: 45%;
    }
    main .main_body > div:nth-child(1) a {
        margin-left: 10%;
        margin-bottom: 10%;
        width: 400px;
        height: 80px;
    }
    main .main_body> div a div i {
        font-size: 26pt;
    }
    main .main_body > div a p {
        font-size: 22pt;
    }
    main .main_body > div:nth-child(2) {
        width: 50%;
    }
    main .main_body > div:nth-child(2) img {
        height: 280px;
        width: 580px;
        margin-left: 0%;
    }
    .profile-card > div {
        top: 50%;        
    }  
}
@media screen and (min-width: 1440px) {

    main {
        border: 1px solid blue;
    }
}