<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Delegados</title>
    <link rel="stylesheet" href="/assets/css/admin-css/admin_dele_home.css">
    <script src="https://kit.fontawesome.com/2619cec24c.js" crossorigin="anonymous"></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');</style>
</head>
<body>
    <header>
        <img src="/assets/img/logo-5remov.png" alt="">
        <a href="/view/admin-view/admin_porfile.html"><i class="fa-solid fa-user-tie"></i></a>
        <a href="/view/index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>

    </header>
    <main>
        <div class="main_header">
            <a href="/view/admin-view/admin_delegados.html"><i class="fa-solid fa-circle-chevron-left"></i></a>
        </div>
        <div class="main_body">
            <div>
                <a class="dele" href="/view/admin-view/admin_porfile_salud.html">
                    <div>
                        <i class="fa-solid fa-user-nurse"></i>
                    </div>
                    <p>Salud</p>
                </a>
                <a class="dele" href="/view/admin-view/admin_porfile_deporte.html">
                    <div>
                        <i class="fa-solid fa-volleyball"></i>
                    </div>
                    <p>Deporte</p>
                </a>
                <a class="dele" href="/view/admin-view/admin_dele_psico.html">
                    <div>
                        <i class="fa-solid fa-person-dots-from-line"></i>
                    </div>
                    <p>Psicosocial</p>
                </a>
                <div class="add">
                    <div class="addd">
                        <a href="#"><i class="fa-solid fa-user-plus"></i></a>
                    </div>
                    <div class="adddd">
                        <a href="#"><i class="fa-solid fa-user-minus"></i></a>
                    </div>
                </div>
            </div>
            <div>
                <img src="/assets/img/logo-4remove.png" alt="">
            </div>
        </div>
    </main>

    <footer>
        <div class="red_social">
            <div>
                <p>Siguenos en nuestras redes sociales:</p>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-facebook" style="color: white;"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter" style="color: white;"></i></a>
                <a href="#"><i class="fa-solid fa-book-open" style="color: white;"></i>    </a>
            </div>
        </div>
        <div class="ff">
            <div class="info-footer">
                <p><b>SIFT - Sistema Identificación y Seguimiento de Aprendices</b></p>
                <p><b>Misión:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                <p><b>Visión:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="info2-footer">
                <p><b>Menú: </b></p>
                <p>¿Qué es SIFT?</p>
                <p>¿Para qué sirve SIFT?</p>
            </div>
            <div class="info3-footer">
                <p><b>Contacto:</b></p>
                <div>
                    <p>La Plata, Huila</p>
                    <p>biaprendiz@mail.com</p>
                    <p>Cra 7 No. 5 - 67</p>
                    <p>+57 555 55 55</p>
                </div>
                
            </div>
        </div>
        <div class="copy_footer">
            <p>Copyright 2024 - <strong>SIFT - Sistema Identificación y Seguimiento de Aprendices</strong> © by ********* and **********</p><p></p>
        </div>
    </footer>


</body>
</html>