<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delegados Home</title>
    <link rel="stylesheet" href="/assets/css/admin-css/admin_dele_home.css">
    <script src="https://kit.fontawesome.com/2619cec24c.js" crossorigin="anonymous"></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');</style>
</head>
<body>
    <header>
        <img src="/assets/img/logo-5remov.png" alt="">
        <a href="/view/index.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        <a href="#"><i class="fa-solid fa-user-tie"></i></a>
    </header>
    <main>
        <div class="main_header">
            <a href="/view/admin-view/admin_delegados.html"><i class="fa-solid fa-circle-chevron-left"></i></a>
        </div>
        <div class="main_body">
            <div>
                <a href="#">
                    <div>
                        <i class="fa-solid fa-user-nurse"></i>
                    </div>
                    <p>Salud</p>
                </a>
                <a href="#">
                    <div>
                        <i class="fa-solid fa-volleyball"></i>
                    </div>
                    <p>Deporte</p>
                </a>
                <a href="#">
                    <div>
                        <i class="fa-solid fa-person-dots-from-line"></i>
                    </div>
                    <p>Psicosocial</p>
                </a>
            </div>
        </div>
    </main>


</body>
</html>