*{
    height: 0;
    padding: 0;
    border: 0;
    box-shadow: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
    a{
        color: black;  
        text-decoration: none; 
        margin-left: 3px;
    }
    a:hover{
        color: black;
        cursor: pointer;
        scale: 1.05;
    }

@media (max-width: 375px) {

        main {
            height: 60vh;
            width: 100vw;
        }
            main .main_header{
                display: flex;
                height: 12%;
                width: 100%;
            }
                main .main_header > a {
                    margin-top: 5%;
                    background-color: #234788;
                    height: 95%;
                    width: 14%;
                    margin-left: 10%;
                    border-radius: 100%;
                }
                    main .main_header > a i {
                        margin-top: 20%;
                        margin-left: 15px;
                        font-size: 18pt;
                        color: #ffff;       
                    }
                main .main_header > p {
                    font-size: 14pt;
                    margin-top: 28px;
                    margin-left: 12px;
                }

        main .main_body {
            height: 70%;
            width: 100%;
        }
            main .main_body > div:nth-child(1) {
                height: 35%;
                width: 100%;
            }

                main .main_body > div:nth-child(1) a {
                    display: flex;
                    margin-top: 8%;
                    height: 48%;
                    width: 60%;
                    margin-left: 20%;
                    background-color: #9BC1DF;
                    cursor: pointer;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    -ms-border-radius: 50px;
                    -o-border-radius: 50px;
                }

                main .main_body > div a:hover {
                    background-color: rgba(0, 0, 255, 0.103);
                    scale: 1;
                }

                main .main_body > div a div {
                    height: 100%;
                    width: 23%;
                    background-color: #234788;
                    cursor: pointer;
                    color: #ffff;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    justify-items: center;
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                }

                main .main_body > div a div:hover {
                    background-color: rgba(0, 0, 255, 0.445);
                }

                    main .main_body> div a div i {
                        margin-top: 30%;
                        font-size: 18pt;
                    }

                main .main_body > div a p {
                    width: 70%;
                    height: 80%;
                    text-align: center;
                    font-size: 12pt;
                    margin-top: 13px;
                }

            main .main_body > div:nth-child(2){
                height: 50%;
                width: 100%;
            }
                main .main_body > div:nth-child(2) img{
                    height: 150px;
                    width: 275px;
                    margin-left: 9%;
                    margin-top: 15%;
                }

        /* Estilos para la tarjeta de perfil (modal) */
        .profile-card {
            position: absolute;
            top: .01%;
            width: 100vw;
            height: 100%;
            background: rgba(0, 0, 0, 0.148);
        }
        .profile-card > div {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 300px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 5%;
            -webkit-border-radius: 5%;
            -moz-border-radius: 5%;
            -ms-border-radius: 5%;
            -o-border-radius: 5%;
        }
        .profile-card .profile-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
        }
        .profile-card .profile-header i {
            font-size: 14pt;
            color: #234788;  
        }
        .profile-card .profile-content {
            padding-top: 10px;
        }
        .profile-card .profile-content form {
            display: grid;
        }
        .profile-card .profile-content form label {
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 8pt;
        }
        .profile-card .profile-content form input {
            padding: 10px;
            font-size: 8pt;
            border: 1px solid #ddd;
            border-radius: 4px;
        }
        .profile-card .profile-content form button {
            margin-top: 10px;
            height: 80%;
            background-color: #234788;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 4px;
            text-align: center;
        }
        .hidden {
            display: none;
        }

}

@media (min-width: 376px) and (max-width: 426px) {
    header {
        height: 6vh;
        width: 100vw;
        background-color: #9BC1DF;
    }

    header > a {
        font-size: 15pt;
        float: right;
        margin: 10px;
        color: #234788;
    }

        header img {
            height: 40px;
            float: left;
            margin-left: 10px;
        }

    main {
        height: 60vh;
        width: 100vw;
    }
        main .main_header{
            display: flex;
            height: 15%;
            width: 100%;
        }
            main .main_header > a {
                margin-top: 5%;
                background-color: #234788;
                height: 88%;
                width: 14%;
                margin-left: 10%;
                border-radius: 100%;
            }
                main .main_header > a i {
                    margin-top: 25%;
                    margin-left: 18px;
                    font-size: 20pt;
                    color: #ffff;       
                }
            main .main_header > p {
                font-size: 14pt;
                margin-top: 35px;
                margin-left: 12px;
            }

        main .main_body {
            height: 70%;
            width: 100%;
            margin-top: 10%;
        }
            main .main_body > div {
                height: 36%;
                width: 100%;
            }

                main .main_body > div a {
                    display: flex;
                    margin-top: 8%;
                    height: 50%;
                    width: 55%;
                    margin-left: 20%;
                    background-color: #9BC1DF;
                    cursor: pointer;
                    -webkit-border-radius: 50px;
                }
    
                main .main_body > div a div {
                    height: 100%;
                    width: 25%;
                    background-color: #234788;
                    cursor: pointer;
                    color: #ffff;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    justify-items: center;
                    border-radius: 100%;
                }

                main .main_body > div a:hover {
                    background-color: rgba(0, 0, 255, 0.103);
                    scale: 1;
                }
                
                main .main_body > div a div i {
                    font-size: 17pt;
                    margin-top: 28%;
                }

                main .main_body > div a p {
                    width: 60%;                    
                    text-align: center;

                }

            main .main_body > div:nth-child(2) {
                height: 50%;
                width: 100%;
            }
                main .main_body > div:nth-child(2) img {
                    height: 150px;
                    width: 275px;
                    margin-left: 15%;
                    margin-top: 15%;
                }

    footer {
        height: 60vh;
        width: 100vw;
        font-size: 8pt;
        color: rgba(255, 255, 255, 0.877);
        background-color: #234788;
    }

        footer .red_social {
            height: 13%;
            width: 70%;
            display: grid;
            margin-left: 15%;
            border-bottom: 1px solid rgb(122, 121, 121);
            justify-content: center;
            align-items: baseline;
            text-align: center;
            align-content: space-between;
            justify-items: center;
        }

        footer .ff {
            height: 15%;
            display: grid;
            align-items: baseline;
            justify-content: center;
        }

        footer .red_social div:nth-child(2) {
            height: 25%;
            width: 120%;
            margin-top: 5px;
            margin-left: -15px;
            padding-bottom: 8px;
        }

            footer .red_social div:nth-child(2) a {
                margin-left: 10px;
            }

        footer .info-footer {
            height: 35%;
            width: 80%;
            margin-left: 10%;
            font-size: 8pt;
            display: grid;
            justify-content: center;
            justify-items: center;
            text-align: center;
            margin-top: -5px;
        }

            footer .info-footer p {
                height: 66%;
            }

            footer .info-footer p:nth-child(3) {
                margin-bottom: 10%;
                border-bottom: 1px solid rgba(122, 121, 121, 0.733);
            }

        footer .info2-footer {
            height: 75%;
            width: 80%;
            margin-left: 10%;
            font-size: 8pt;
            display: flex;
            justify-content: center;
            justify-items: center;
            text-align: center;
            border-bottom: 1px solid rgba(122, 121, 121, 0.733);
            align-items: center;
        }

            footer .info2-footer p {
                height: 100%;
                margin-right: 10px;
            }

        footer .info3-footer {
            height: 2%;
            width: 80%;
            margin-left: 10%;
            font-size: 8pt;
            display: grid;
            justify-content: center;
            justify-items: center;
            text-align: center;
        }

                footer .info3-footer div {
                    height: 10%;
                }

                footer .info3-footer div p {
                    height: 60%;
                }

    footer .copy_footer {
        background-color: #9BC1DF;
        font-size: 8pt;
        height: 10%;
        width: 90%;
        margin-top: 58%;
        margin-left: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: block;
        justify-content: center;
        justify-content: center;
        text-align: center;
    }

        footer .copy_footer p {
            color: black;
            height: 30%;
            padding-top: 12px;
        }

}

@media (min-width: 427px) and (max-width: 769px) {
    header {
        height: 7vh;
        width: 100%;
        background-color: #9BC1DF;
    }

    header > a {
        font-size: 17pt;
        float: right;
        margin: 10px;
        color: #234788;
    }

        header img {
            height: 50px;
            float: left;
            margin-left: 10px;
        }

    main {
        height: 80vh;
        width: 89%;
    }
        main .main_header{
            display: flex;
            height: 13%;
            width: 100%;
            margin-left: 12%;
        }
            main .main_header > a {
                margin-top: 2%;
                background-color: #234788;
                height: 87%;
                width: 10%;
                margin-left: 10%;
                border-radius: 100%;
            }
                main .main_header > a i {
                    margin-top: 25%;
                    margin-left: 21px;
                    font-size: 22pt;
                    color: #ffff;       
                }
            main .main_header > p {
                font-size: 15pt;
                margin-top: 32px;
                margin-left: 12px;
            }

        main .main_body {
            height: 65%;
            width: 100%;
            margin-top: 8%;
            margin-left: 12%;
        }
            main .main_body > div {
                height: 36%;
                width: 100%;
            }

                main .main_body > div a {
                    display: flex;
                    margin-top: 8%;
                    height: 52%;
                    width: 42%;
                    margin-left: 20%;
                    background-color: #9BC1DF;
                    cursor: pointer;
                    -webkit-border-radius: 50px;
                }
    
                main .main_body > div a div {
                    height: 100%;
                    width: 25%;
                    background-color: #234788;
                    cursor: pointer;
                    color: #ffff;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    justify-items: center;
                    border-radius: 100%;
                }

                main .main_body > div a:hover {
                    background-color: rgba(0, 0, 255, 0.103);
                    scale: 1;
                }
                
                main .main_body > div a div i {
                    font-size: 20pt;
                    margin-top: 28%;
                }

                main .main_body > div a p {
                    width: 60%;
                    font-size: 15pt;                    
                    text-align: center;

                }

            main .main_body > div:nth-child(2) {
                height: 50%;
                width: 100%;
            }
                main .main_body > div:nth-child(2) img {
                    height: 200px;
                    margin-left: 13%;
                    margin-top: 14%;
                }

    footer {
        height: 86vh;
        width: 100vw;
        font-size: 12pt;
        color: rgba(255, 255, 255, 0.877);
        background-color: #234788;
    }

        footer .red_social {
            height: 13%;
            width: 70%;
            display: grid;
            margin-left: 15%;
            border-bottom: 1px solid rgb(122, 121, 121);
            justify-content: center;
            align-items: baseline;
            text-align: center;
            align-content: space-between;
            justify-items: center;
        }

        footer .ff {
            height: 15%;
            display: grid;
            align-items: baseline;
            justify-content: center;
        }

        footer .red_social div:nth-child(2) {
            height: 25%;
            width: 120%;
            margin-top: 5px;
            margin-left: -15px;
            padding-bottom: 8px;
        }

            footer .red_social div:nth-child(2) a {
                margin-left: 10px;
            }

        footer .info-footer {
            height: 35%;
            width: 80%;
            margin-left: 10%;
            font-size: 12pt;
            display: grid;
            justify-content: center;
            justify-items: center;
            text-align: center;
            margin-top: -5px;
        }

            footer .info-footer p {
                height: 66%;
            }

            footer .info-footer p:nth-child(3) {
                margin-bottom: 10%;
                border-bottom: 1px solid rgba(122, 121, 121, 0.733);
            }

        footer .info2-footer {
            height: 75%;
            width: 80%;
            margin-left: 10%;
            font-size: 12pt;
            display: flex;
            justify-content: center;
            justify-items: center;
            text-align: center;
            border-bottom: 1px solid rgba(122, 121, 121, 0.733);
            align-items: center;
        }

            footer .info2-footer p {
                height: 100%;
                margin-right: 10px;
            }

        footer .info3-footer {
            height: 2%;
            width: 80%;
            margin-left: 10%;
            font-size: 12pt;
            display: grid;
            justify-content: center;
            justify-items: center;
            text-align: center;
        }

                footer .info3-footer div {
                    height: 10%;
                }

                footer .info3-footer div p {
                    height: 60%;
                }

    footer .copy_footer {
        background-color: #9BC1DF;
        font-size: 12pt;
        height: 10%;
        width: 90%;
        margin-top: 49%;
        margin-left: 15px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        display: block;
        justify-content: center;
        justify-content: center;
        text-align: center;
    }

        footer .copy_footer p {
            color: black;
            height: 30%;
            padding-top: 12px;
        }
}

@media (min-width: 770px) and (max-width: 1022px) {
    header {
        height: 8vh;
        width: 100%;
        background-color: #9BC1DF;
    }

    header > a {
        font-size: 20pt;
        float: right;
        margin: 10px;
        color: #234788;
    }

        header img {
            height: 60px;
            float: left;
            margin-left: 10px;
        }

    main {
        height: 86vh;
        width: 89%;
    }
        main .main_header{
            display: flex;
            height: 13%;
            width: 100%;
            margin-top: 4%;
        }
            main .main_header > a {
                margin-top: 2%;
                background-color: #234788;
                height: 95%;
                width: 9%;
                margin-left: 10%;
                border-radius: 100%;
            }
                main .main_header > a i {
                    margin-top: 25%;
                    margin-left: 26px;
                    font-size: 25pt;
                    color: #ffff;       
                }
            main .main_header > p {
                font-size: 17pt;
                margin-top: 40px;
                margin-left: 12px;
            }

        main .main_body {
            display: flex;
            height: 65%;
            width: 100%;
            margin-top: 3%;
        }
            main .main_body > div {
                height: 36%;
                width: 100%;
                margin-top: 3%;
            }

                main .main_body > div a {
                    display: flex;
                    margin-top: 8%;
                    height: 52%;
                    width: 70%;
                    margin-left: 35%;
                    background-color: #9BC1DF;
                    cursor: pointer;
                    -webkit-border-radius: 50px;
                }
    
                main .main_body > div a div {
                    height: 100%;
                    width: 25%;
                    background-color: #234788;
                    cursor: pointer;
                    color: #ffff;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    justify-items: center;
                    border-radius: 100%;
                }

                main .main_body > div a:hover {
                    background-color: rgba(0, 0, 255, 0.103);
                    scale: 1;
                }
                
                main .main_body > div a div i {
                    font-size: 22pt;
                    margin-top: 30%;
                }

                main .main_body > div a p {
                    width: 60%;
                    font-size: 17pt;                    
                    text-align: center;

                }

            main .main_body > div:nth-child(2) {
                height: 50%;
                width: 100%;
            }
                main .main_body > div:nth-child(2) img {
                    height: 230px;
                    margin-left: 13%;
                    margin-top: 4%;
                }


}

@media (min-width: 1023px) and (max-width: 1440px) {

main {
    height: 80vh;
    width: 89%;
}
    main .main_header {
        display: flex;
        height: 17%;
        width: 63%;
        margin-top: 4%;
        margin-left: 5%;
    }
        main .main_header > a {
            margin-top: 2%;
            background-color: #234788;
            height: 90%;
            width: 11%;
            margin-left: 10%;
            border-radius: 100%;
        }
            main .main_header > a i {
                margin-top: 22%;
                margin-left: 24px;
                font-size: 30pt;
                color: #ffff;
            }
        main .main_header > p {
            font-size: 19pt;
            margin-top: 35px;
            margin-left: 20px;
        }
    main .main_body {
        display: flex;
        height: 65%;
        width: 100%;
        margin-top: 1%;
    }
        main .main_body > div {
            height: 36%;
            width: 100%;
        }
            main .main_body > div a {
                display: flex;
                margin-top: 8%;
                height: 65%;
                width: 60%;
                margin-left: 35%;
                background-color: #9BC1DF;
                cursor: pointer;
                border-radius: 50px;
            }
            main .main_body > div a:hover {
                background-color: rgba(0, 0, 255, 0.103);
                transform: scale(1);
            }
                main .main_body > div a div {
                    height: 100%;
                    width: 23%;
                    background-color: #234788;
                    color: #ffff;
                    display: flex;
                    justify-content: center;
                    border-radius: 100%;
                }
                    main .main_body > div a div i {
                        font-size: 24pt;
                        padding-top: 30%;
                    }
                main .main_body > div a p {
                    width: 60%;
                    font-size: 19pt;                    
                    text-align: center;
                }
        main .main_body > div:nth-child(2) {
            height: 50%;
            width: 100%;
        }
            main .main_body > div:nth-child(2) img {
                height: 300px;
                margin-left: 7%;
                margin-top: 3%;
            }
    
    /* Estilos para la tarjeta de perfil (modal) */
    .profile-card {
        position: absolute;
        top: .01%;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.148);
    }
    .profile-card > div {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 550px;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
    }
    .profile-card .profile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10%;
        border-bottom: 1px solid #ddd;
        font-size: 20pt;
    }
    .profile-card .profile-header i {
        font-size: 24pt;
        color: #234788;  
    }
    .profile-card .profile-content {
        padding-top: 5%;
    }
    .profile-card .profile-content form {
        display: flex;
        flex-direction: column;
    }
    .profile-card .profile-content form label {
        font-size: 16pt;
margin-bottom: 5%;
    }
    .profile-card .profile-content form input {
        font-size: 16pt;
        height: 16pt;
        margin-top: 1%;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    .profile-card .profile-content form button {
        margin-top: 20px;
        padding: 10px;
        background-color: #234788;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }
    .hidden {
        display: none;
    }
}