header {
    background-color: #9BC1DF;
}

    header > div > div:nth-child(2) a {
        color: #234788;
    }

.main_header > a {
    color: #234788
}

.main_body .log_porf {
    background-color: #234788;
    border-radius: 100%;
}

.main_body > div > div > div > i {
    color: white;
}

footer {
    background-color: #234788
}

footer .copy_footer {
    color: black;
    background-color: #9BC1DF;
}

@media screen and (min-width: 375px) {
    
    .main_header > a {
        font-size: 20pt;
    }

    .main_body .log_porf{
        width: 20%;
        height: 75%;
        margin-left: 40%;
    }

    .main_body > div > div:nth-child(1) {
        margin-bottom: 5%;
    }

    .main_body > div > div > div > i {
        font-size: 30pt;
        margin-top: 15%;
    }

    footer {
        height: 85vh;
        font-size: 10pt;

    }

        footer .red_social {
            height: 95%;
        }

            footer .red_social > a {
                margin-bottom: 5px;
            }
        
}

@media screen and (min-width: 426px) {
    header > div > div:nth-child(2) > a > i {
        font-size: 15pt;
    }

    .main_header > a {
        font-size: 23pt;
    }

    .main_body .log_porf{
        width: 20%;
        height: 80%;  
    }

    footer {
        height: 85vh;
        font-size: 11pt;
    }
}

@media screen and (min-width: 560px) {
    header > div > div:nth-child(2) > a > i {
        font-size: 17pt;
    }

    .main_header > a {
        font-size: 25pt;
    }

    .main_body .log_porf{
        width: 17%;
        height: 112%;  
        margin-top: -5%;
        margin-left: 42%;
    }

    .main_body > div > div > div > i {
        font-size: 31pt;
        margin-top: 20%;
    }

    footer {
        height: 85vh;
        font-size: 12pt;
    }
}

@media screen and (min-width: 768px) {
    .main_body .log_porf{
        width: 16%;
        height: 130%;  
        margin-top: -5%;
        margin-left: 42%;
    }

    .main_body > div > div > div > i {
        font-size: 45pt;
        margin-top: 20%;
    }
}

@media screen and (min-width: 992px) {
    
}