header {
    background-color: #9BC1DF;
}

    header > div > div:nth-child(2) a {
        color: #234788;
    }

.main_header > a {
    color: #234788
}

.main_body .log_porf {
    background-color: #234788;
    border-radius: 100%;
}

.main_body > div > div > div > i {
    color: white;
}

footer {
    background-color: #234788
}

footer .copy_footer {
    color: black;
    background-color: #9BC1DF;
}

@media (max-width: 375px) {
    
    .main_header > a {
        font-size: 20pt;
    }

    .main_body .log_porf{
        width: 20%;
        height: 75%;
        margin-left: 40%;
        
    }

    .main_body > div > div > div > i {
        font-size: 30pt;
        margin-top: 15%;
    }

    footer {
        height: 85vh;
        font-size: 10pt;

    }

        footer .red_social {
            height: 95%;
        }

            footer .red_social > a {
                margin-bottom: 5px;
            }
        
}
