*{
    height: 0;
    padding: 0;
    border: 0;
    box-shadow: 0;
}
body{
    margin: 0;
    
}
    a{
        color: black;
        border-bottom: none;
    }
    a:hover{
        color: black;
        border-bottom: none;
    }

@media (max-width: 375px) {

    /* encabezado */
    header{
        height: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.315);
        display: flex;  
    }
        header div{
            height: 100%;
            width: 100%;
            display: flex;
        }
        /*encabezado primera parte logo*/
        header .enca_logo{
            width: 95px;
            margin-right: 20%;
        }
            header .enca_logo img{
                padding: 12px;
                height: 25px;
                width: 80px;
            }
        /*encabezado segunda parte navegación, inicio de sección*/
        header .enca_barra{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            justify-items: center;
            text-align: center;
        }
        header .enca_barra div{
            padding-left: 1px;
            display: flex;
            justify-content: center;
            justify-items: center;
            text-align: center;
        }
        header .enca_barra div:nth-child(1) a:hover{
            cursor: pointer;
            color: blue;
            scale: 1.1;
        }
            header .enca_barra div:nth-child(1) a p{
                margin-top: 35%;
                font-size: 6pt;
            }
        header .enca_barra div:nth-child(2) a:hover{
            cursor: pointer;
            color: blue;
            scale: 1.1;
        }
            header .enca_barra div:nth-child(2) a p{
                margin-top: 30%;
                font-size: 6pt;
            }
            header .enca_barra .icon_user{
                padding: 30%;
            }
            
}