/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* Main */
main {
    margin-top: .5rem;
    height: 100vh;
    width: 100vw;
}

main .one_main {
    height: 50%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
}

main .one_main div:nth-child(1) img {
    height: 150px;
    width: 250px;
    border-radius: 10px;
    margin-left: 15%;
}

main .one_main div:nth-child(2) {
    width: 90%;
    font-size: 10pt;
    margin-left: 10%;
}

main .one_main div:nth-child(2) h3 {
    padding: 1px;
}

main .one_main div:nth-child(2) p {
    margin-top: 25px;
    width: 90%;
}

main .two_main {
    height: 50%;
    width: 100vw;
    background: linear-gradient(45deg, #7596C8 0%, #6C89A4 25%, #6C89A4 50%, #376DA1 75%, #1A4065 100%);
    display: grid;
}

main .two_main div:nth-child(1) {
    width: 80%;
    font-size: 10pt;
    margin-left: 10%;
    margin-top: 5%;
}

main .two_main div:nth-child(1) h3 {
    padding: 1px;
}

main .two_main div:nth-child(1) p {
    margin-top: 25px;
}

main .two_main div:nth-child(2) {
    text-align: center;
}

main .two_main div:nth-child(2) #img_queEs {
    margin-left: -9%;
    height: 180px;
    border-radius: 10px;
}

/* Responsive design */
@media screen and (min-width: 300px) {
    .container div:nth-child(1) div .img_logocom {
        height: 60px;
    }

    .container div:nth-child(1) div a {
        height: 25px;
        width: 100px;
    }

    .container div:nth-child(1) a p {
        font-size: 10pt;
    }

    main .one_main div:nth-child(1) img {
        height: 133px;
        width: 220px;
    }

    main .one_main div:nth-child(2) {
        font-size: 12pt;
    }

    main .two_main div:nth-child(1) {
        font-size: 12pt;
    }

    main .two_main div:nth-child(2) #img_queEs {
        height: 133px;
        width: 220px;
    }
}

@media screen and (min-width: 400px) {
    main .one_main,
    main .two_main {
        margin-top: 1rem;
    }

    main .one_main div:nth-child(1) img,
    main .two_main div:nth-child(2) #img_queEs {
        margin-right: 10px;
        height: 170px;
        width: 260px;
    }

    main .one_main div:nth-child(2),
    main .two_main div:nth-child(1) {
        text-align: left;
        font-size: 12pt;
    }
}

@media screen and (min-width: 500px) {
    main .one_main div:nth-child(1) img,
    main .two_main div:nth-child(2) #img_queEs {
        height: 220px;
        width: 320px;
    }

    main .one_main div:nth-child(2),
    main .two_main div:nth-child(1) {
        font-size: 14pt;
    }
}

@media screen and (min-width: 600px) {
    main .one_main,
    main .two_main {
        grid-template-columns: 1fr 1fr;
    }

    main .two_main{
        padding-top: 1rem;
    }

    main .one_main div:nth-child(1) img,
    main .two_main div:nth-child(2) #img_queEs {
        height: 240px;
        width: 340px;
    }

    main .one_main div:nth-child(2),
    main .two_main div:nth-child(1) {
        font-size: 16pt;
    }
}

@media screen and (min-width: 900px) {
    main .one_main div:nth-child(1) img,
    main .two_main div:nth-child(2) #img_queEs {
        height: 260px;
        width: 360px;
    }

    main .one_main div:nth-child(2),
    main .two_main div:nth-child(1) {
        font-size: 18pt;
    }
}

@media screen and (min-width: 1920px) {
    main .one_main div:nth-child(1) img,
    main .two_main div:nth-child(2) #img_queEs {
        height: 280px;
        width: 380px;
    }

    main .one_main div:nth-child(2),
    main .two_main div:nth-child(1) {
        font-size: 20pt;
    }
}

@media screen and (min-width: 3840px) {
    main .one_main div:nth-child(1) img,
    main .two_main div:nth-child(2) #img_queEs {
        height: 320px;
        width: 420px;
    }

    main .one_main div:nth-child(2),
    main .two_main div:nth-child(1) {
        font-size: 22pt;
    }
}