/* Estilo general */
#img_fondo {
    background-image: url(../../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
}

/* Encabezado */
header {
    display: grid;
    grid-template-columns: 40% 20% 25% 5%;
    height: 5vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

/* Logo en el encabezado */
header > img {
    height: 60px;
    margin-top: -10%;
}

/* Enlaces en el encabezado */
header > a {
    margin-top: .5rem;
    color: rgba(255, 255, 255, 0.877);
    font-size: 7pt;
}

header > a:hover {
    cursor: pointer;
    height: 10%;
}

header a > i {
    font-size: 9pt;
    margin-top: 8px;
    margin-left: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/* Container */
.container {
    width: 100vw;
    height: 17vh;
    display: flex;
}

.container div:nth-child(1) {
    width: 100%;
    height: 100%;
}

.container div:nth-child(1) div {
    margin-top: 10%;
    height: 80px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
}

.container div:nth-child(1) div .img_logocom {
    margin-left: 20px;
    height: 80px;
}

.container div:nth-child(1) div a {
    margin-left: 40px;
    margin-top: 8%;
    height: 20px;
    width: 80px;
    background-color: #234788;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container div:nth-child(1) div a:hover {
    transform: scale(1.1);
}

.container div:nth-child(1) a p {
    margin-top: 2px;
    color: white;
    font-size: 8pt;
}

/* Media Queries */
@media screen and (min-width: 300px) {
    header > img {
        height: 70px;
    }

    header > a {
        font-size: 8pt;
    }

    header a > i {
        font-size: 10pt;
    }

    .container div:nth-child(1) div {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }

    .container div:nth-child(1) div .img_logocom {
        margin-left: 0;
        height: 60px;
    }

    .container div:nth-child(1) div a {
        margin-left: 0;
        margin-top: 10px;
        width: 70px;
        font-size: 7pt;
    }

    .container div:nth-child(1) a p {
        font-size: 7pt;
    }
}

@media screen and (min-width: 400px) {

    .container div:nth-child(1) div .img_logocom {
        margin-left: 20px;
        height: 70px;
    }

    .container div:nth-child(1) div a {
        margin-top: 5%;
        width: 90px;
        font-size: 8pt;
    }

    .container div:nth-child(1) a p {
        font-size: 8pt;
    }
}

@media screen and (min-width: 500px) {
    header > img {
       padding-top: .1rem;
    }
    header > a {
        font-size: 9pt;
    }

    header a > i {
        font-size: 11pt;
    }

    .container div:nth-child(1) div .img_logocom {
        height: 80px;
    }

    .container div:nth-child(1) div a {
        width: 100px;
        font-size: 9pt;
    }

    .container div:nth-child(1) a p {
        font-size: 9pt;
    }
}

@media screen and (min-width: 600px) {
    header{
        height: 6vh;
    }
    header > img {
        height: 90px;
    }
    header > a {
        font-size: 11pt;
    }
    header > a:nth-child(4){
        margin-top: 0;
    }
    header > a > i {
        font-size: 14pt;
    }
    .container div:nth-child(1) div {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }

    .container div:nth-child(1) div .img_logocom {
        height: 100px;
    }
    .container div:nth-child(1) div{
        height: 90%;
    }

    .container div:nth-child(1) div a {
        width: 110px;
        height: 40%;
        font-size: 10pt;
    }

    .container div:nth-child(1) a p {
        font-size: 12pt;
    }
}
@media screen and (min-width: 700px){
    header > img {
        height: 105px;
     }
}

@media screen and (min-width: 900px) {
    header{
        height: 8vh;
    }
    header > img{
        height: 130px;
    }
    header > a {
        font-size: 14pt;
    }

    header a > i {
        font-size: 19pt;
    }

    .container div:nth-child(1) div {
        height: 18vh;
    }

    .container div:nth-child(1) div .img_logocom {
        height: 135px;
    }

    .container div:nth-child(1) div a {
        width: 150px;
    }

    .container div:nth-child(1) a p {
        font-size: 14pt;
    }
}
@media screen and (min-width: 1000px) {
    header{
        height: 12vh;
    }
    header > img {
        height: 170px;
    }
    header > a {
        margin-top: 1rem;
    }
    header > a > i {
        margin-top: 1rem;
    }
    .container div:nth-child(1) div {
        height: 30vh;
    }
    .container div:nth-child(1) div .img_logocom {
        height: 180px;
    }
}

@media screen and (min-width: 1400px) {
    header{
        height: 12vh;
    }
    header > img {
        height: 210px;
    }
    header > a {
        font-size: 18pt;
    }
    header > a {
        margin-top: 1rem;
    }

    header a > i {
        font-size: 30pt;
    }

}

@media screen and (min-width: 1800px) {
    header {
        height: 18vh;
    }
    header > img {
        height: 300px;
    }
    header > a {
        margin-top: 3rem;
    }
    header > a > i {
        margin-top: 3rem;
    }
    .container div:nth-child(1) div .img_logocom {
        height: 235px;
        padding-left: 6rem;
    }
    .container div:nth-child(1) div a {
        width: 229px;
        margin-right: 11rem;
    }
    .container div:nth-child(1) a p {
        font-size: 22pt;
    }
}

