<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="https://kit.fontawesome.com/2619cec24c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="img_fondo">
        <header>
            <div class="enca_logo">
                <img src="/assets/img/logo-remove.png" alt="">
            </div>
            <div class="enca_barra">
                <div>
                    <a href="#"><p>¿Qué es SIFT?</p></a>
                </div>
                <div>
                    <a href="#"><p>¿Para qué sirve SIFT?</p></a>
                </div>
                <div>
                    <a href="#" class="icon_user"><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
        </header>
        <div class="container">
            <div> 
                <div>
                    <img src="/assets/img/logo-4remove.png" alt="" class="img_logocom">
                    <a href="#"><p>Inicia Sesión</p></a>
                </div>
            </div>
        </div>
    </div>
    <main>
      <div class="one_main">
        <div>
            <img src="/assets/img/img_queEs.jpeg" alt="">
        </div>
        <div>
            <h3>¿Qué es SIFT?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
        <div class="two_main">
            <div>
                <h3>¿Qué es SIFT?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div>
                <img src="/assets/img/img_queEs.jpeg" alt="" id="img_queEs">
            </div>
        </div>  
    </main>
    <footer>
        <div class="red_social">
            <div>
                <p>Siguenos en nuestras redes sociales:</p>
            </div>
            <div>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a href=""><i class="fa-solid fa-book-open"></i>    </a>
            </div>
        </div>
        <div></div>
        <div></div>
    </footer>
    
</body>

</html>