<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="https://kit.fontawesome.com/2619cec24c.js" crossorigin="anonymous"></script>
</head>
<body>
        <header>
            <div class="enca_logo">
                <img src="/assets/img/logo-remove.png" alt="">
            </div>
            <div class="enca_barra">
                <div>
                    <a href="#"><p>¿Qué es SIFT?</p></a>
                </div>
                <div>
                    <a href="#"><p>¿Para qué sirve SIFT?</p></a>
                </div>
                <div>
                    <a href="#" class="icon_user"><i class="fa-solid fa-circle-user"></i></a>
                </div>
            </div>
        </header>
    <div class="container">
        <div>
            <img src="/assets/img/fondo.jpg" alt="" class="img_principal">
            <div>
                <img src="/assets/img/logo-4remove.png" alt="">
                <div>
                    <a href="#"><p>hola</p></a>
                </div>
            </div>
        </div>
        
        <main>

        </main>
    </div>
    
</body>

</html>