<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/assets/css/login.css">
    <script src="https://kit.fontawesome.com/2619cec24c.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="containers">
        <div class="container">
            <div>
                <img src="/assets/img/logo-02.png" alt="">
            </div>
            <div class="forms">
                <form action="#">
                    <input type="text" placeholder="User">
                    <input type="password" placeholder="Password">
                    <a href=""><p>Recuperar contraseña</p></a>
                    <a href="#"><input type="button" value="" placeholder="enviar"></a>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="red_social">
            <div>
                <p>Siguenos en nuestras redes sociales:</p>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-facebook" style="color: white;"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter" style="color: white;"></i></a>
                <a href="#"><i class="fa-solid fa-book-open" style="color: white;"></i>    </a>
            </div>
        </div>
        <div class="info-footer">
            <h3><b>SIFT - Sistema Identificación y seguimiento de aprendices</b></h3>
            <p><b>Misión:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            <p><b>Visión:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
        <div class="info2-footer">
            <h3>Menú: </h3>
            <p>¿Qué es SIFT?</p>
            <p>¿Para qué sirve SIFT?</p>
        </div>
        <div class="info3-footer">
            <h3>Contacto</h3>
            <div>
                <p>La Plata, Huila</p>
                <p>biaprendiz@mail.com</p>
                <p>Cra 7 No. 5 - 67</p>
            <p>+57 555 55 55</p>
            </div>
            
        </div>
        <div class="copy_footer">
            <p>Copyright 2024 - SIFT - Sistema Identificación y seguimiento de aprendices©</p><p>by ********* and **********</p>
        </div>
    </footer>
</body>
</html>